.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  margin: 20px;
}

.timer-container {
  margin: 20px;
}

button {
  background-color: transparent;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
}

.action-wrapper span {
font-size: 40px;
}

#timer-label {
  display: flex;
  justify-content: center;
}

.clock-container {
  width: 50vh;
  border: solid 2px #000;
  border-radius: 10px;
  text-align: center;
}

.clock-container #time-left{
  margin: 20px;
}

